;设置纸飞机
;BotToken BotFather获取
;ChannelId 定义接受消息的频道或群组ID, 机器人需要有权限在其发送消息

[Telegram]
BotToken = '1397574821:AAEcNn5-A9xKrH8BVgxAEJKay5ByAPbesMo'
ChannelId = '-1001398844049'


;阿里云账户
; account 只是用来标识账户可以随意写没有其他作用
; secretId 账户的api id
; secretKey 账户的api key
; limit 触发告警的最低余额, 低于或等于此数时发送告警信息
; 字符串的值必须引号包裹

[Aliyun]
AccountList = [
  {
   'account': 'xyaccount',
   'secretId': '',
   'secretKey': '',
   'zone': 'cn-hongkong',
   'limit': 20000
  },
  {
   'account': 'qzh7537',
   'secretId': '',
   'secretKey': '',
   'zone': 'cn-hongkong',
   'limit': 2000
  }
 ]



;腾讯云账户
;同上
[Tencent]
AccountList = [
 {
  'account': 'tomfish2020@outlook.com',
  'secretId': '',
  'secretKey': '',
  'limit': -10000
  },
 {
  'account': 'zxm@ztouming.com',
  'secretId': '',
  'secretKey': '',
  'limit': 500
  }
 ]