;全局设置
[global]
;日志级别, debug; info; warn; error; fatal 小写
LogLevel = info

;进程数, 并发测试数量
ProcessQuantity = 4

;证书临近过期的天数，用于触发消息提醒
CertExpirationInterval = 50

;域名临近过期到天数
DomainExpirationInterval = 3

;告警提交接口
WarningUrl = https://awmattack.fmlipin.com/merchant/logs/domain_warn

;落地页服务器地址
dpageServers = 8.212.12.190,8.212.25.228,8.212.31.196,47.57.228.71,8.212.30.153,8.212.19.103,47.75.117.112,47.75.120.131,47.75.97.13,47.75.110.112

[Telegram]
BotToken = 1590534238:AAFYL23LSVWZdZi4H_Q_Fy7v1ivggD7UBs9
ChannelId = -1001398844049
SendMessage = yes

[Database]
Connect = hk-cdbrg-6rvyx957.sql.tencentcdb.com
Port = 63591
Dbname = db_yy
Table = t_warn_domain_config
User = root
Password = wvqhthpbd!Wv$da4
